# TODO - complete with requirements (pandas, sklearn etc...)
# Then, execute "pip-compile requirements.in" to generate the file requirements.txt
pandas==2.1.1
uvicorn==0.23.2
fastapi==0.103.2
loguru==0.7.2
kagglehub
